@charset "utf-8";
/* CSS Document */

.background{
    background-color: #000000;
}
.container{
    width: 50%;
    clear: both;
    margin: 100px auto;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    border: 2px #ffce64 solid;
    text-align: center;
}
