@charset "utf-8";
/* CSS Document */


.container{
    width: 50%;
    clear: both;
    border: 2px #ffce64 solid;
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

