@charset "utf-8";
/* CSS Document */

.background{
    background-color: #000000;
}
.container{
    width: 50%;
    clear: both;
    //margin: 100px auto;
    border: 2px #ffce64 solid;
    text-align: center;
    overflow: hidden;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.p .span {
    color: blue;
}
